.jumbotron { background-color: #cdebeb; padding: 0; margin: -140px auto 0 auto; }
#hero-movie { }
#bgvid { background-size: cover; background-color: #cdebeb; width: 100%; height: 100%; min-width: 768px; min-height: 433px; z-index: 1; }

.small-video { margin-top: 140px; background: url("../assets/video/hero-movie.png") no-repeat center center; background-size: cover; width: 100%; height: 250px; min-height: 180px; }

/* h1 { font: normal 20px/30px Sintony, sans-serif; color: #fff; } */
h1 { text-transform: uppercase; color: #fff; font: 500 50px/54px Oswald, sans-serif; margin-bottom: 0; }
h2 { font: 30px/36px Trocchi, sans-serif; text-transform: uppercase; color: #97b8c1; letter-spacing: .08em; padding: 0 10px; }
h3 { font: 16px/ 22px Trocchi, sans-serif; text-transform: uppercase; color: #464603; letter-spacing: .15em; margin: 0 0 6px; }

.heading { text-align: center; z-index: 999; position: relative; padding: 20px 0 16px 0; margin-top: 30px; opacity: .9; background: transparent url("../assets/images/bg-20.png") repeat; }
.heading .subhead { font: 20px/30px Sintony, sans-serif; color: #fff; text-transform: capitalize; margin: 8px 0; }
.heading .subhead .btn-strong { margin-left: 10px; background-color: #ed4723; }
.lede { border: 1px solid #f00; width: 100%; height: 36px; padding: 18px 20px; }
.more-content { position: absolute; left: 47%; top: 420px; }

/* 
#hero-movie .lede { position: absolute; top: 180px; right: 0; bottom: 0; left: 0;  }
 */
/* 
#hero-movie .lede h1 { font: normal 36px Sintony, sans-serif; color: #000; margin-bottom: 18px; }
 */
.lede p { padding: 0 20px;}
.lede .btn-strong { height: 40px; padding: 0 30px; font-size: 16px; background-color: #ed4723; border: none; border-radius: 3px; color: #fff; }

.sample-apps { background-color: #cdebeb; margin-top: -4px; padding: 40px 10px 0; }
.sample-apps .row { margin-top: 40px; padding: 0 10px;  }
.sample-apps .row .reviews, .sample-apps .row .messages, .sample-apps .row .comments, .sample-apps .row .profiles { padding-bottom: 100px; }
.sample-apps .row .reviews { background: url("../assets/images/reviews.png") 10px 60px no-repeat; }
.sample-apps .row .messages { background: url("../assets/images/messages.png") 10px 60px no-repeat; }
.sample-apps .row .comments { background: url("../assets/images/comments.png") 10px 60px no-repeat; }
.sample-apps .row .profiles { background: url("../assets/images/profiles.png") 10px 60px no-repeat; }
.sample-apps .row p { font: 12px/17px Sintony, "Helvetica Neue", Helvetica, sans-serif; color: #807f68; margin: 0 0 12px; }
.sample-apps .btn-default { height: 40px; background-color: #97b8c1; border: none; border-radius: 3px; color: #fff; margin-top: 160px; }

.features-pricing { margin: 40px auto 100px auto; }
.features-pricing .row { padding: 0 10px; }
.features-pricing h2 { color: #f18e71; margin: 60px 0 20px 0; padding: 0 0 20px; border-bottom: 1px solid #97b8c1; }
.features-pricing h4 { font: 14px/16px Sintony, sans-serif; text-transform: uppercase; color: #5a94a2; letter-spacing: .1em; margin: 0; padding: 20px 0 0 10px; }
.features-pricing ul { list-style-position: outside; padding: 6px 0 24px 10px; }
.features-pricing ul li { font: 20px/36px Trocchi, sans-serif; color: #97b8c1; list-style-position: outside; list-style-type: circle; }
.features-pricing .price-wrapper { height: 185px; background-color: #fff; border: none; padding: 0 10px; }
.features-pricing .price-wrapper .price { font: 500 76px/90px Oswald, sans-serif; padding: 0 10px; color: #97b8c1; margin: 10px 0 0; }
.features-pricing .price-wrapper .caption { font: 500 11px/17px Sintony, sans-serif; color: #97b8c1; padding: 0 10px; margin: 0 0 30px; }
.features-pricing .btn-default { height: 40px; background-color: #f27155; border: none; border-radius: 3px; color: #fff; }

.use-cases { background-color: #cdebeb; padding: 30px 10px 120px 10px; }
.use-cases h2 { color: #97b8c1; margin: 0 0 20px; }
.use-cases p { font: 20px/36px Trocchi, sans-serif; color: #464603;  }
.use-cases p .caps { text-transform: uppercase; font: 16px/ 22px Trocchi, sans-serif; letter-spacing: .15em; }
.use-cases p a { color: #97b8c1; padding: 4px 10px; margin: 6px 0; white-space: nowrap; text-decoration: none; }
.use-cases p a.first { padding-left: 0; }
.use-cases p a:hover { background-color: #fff; border-radius: 3px; }
.use-cases .sample-apps { background-color: transparent; padding: 0; }
.use-cases .sample-apps .wordpress, .use-cases .sample-apps .recruitment, .use-cases .sample-apps .videowall { padding-bottom: 100px; }
.use-cases .sample-apps .wordpress { background: url("../assets/images/wordpress.png") 10px 60px no-repeat; }
.use-cases .sample-apps .recruitment { background: url("../assets/images/recruitment.png") 10px 60px no-repeat; }
.use-cases .sample-apps .videowall { background: url("../assets/images/wall.png") 10px 60px no-repeat; }
.use-cases .sample-apps .btn-default { margin-top: 160px; }

#footer { border-top: #ddd; margin: 60px 0 30px 0; padding: 0 10px; }
#footer p { font: 12px/17px Sintony, sans-serif; color: #333; margin-bottom: 12px; }
#footer p a { color: #5a94a2; display: block; }
#footer p a:hover { text-decoration: none; }
#footer p.brand a { display: inline; font: 24px/34px Sintony, sans-serif; color: #000; }
#footer .btn-default { height: 40px; background-color: #f27155; border: none; border-radius: 3px; color: #fff; margin-bottom: 6px; }


/*  -----------  */
/*  Testimonial  */
/*  -----------  */
.lt-mint { background-color: #ecf7f8; }
.aqua { background-color: #a7d9dd; padding: 120px 0;}
.grey-green { background-color: #97b8c1; }
.testimonial { padding: 30px 0; }
.testimonial .silhouette-01 { background: url("../assets/images/silhouette-01.png") center center no-repeat; padding: 115px 60px; }
.testimonial .silhouette-02 { background: url("../assets/images/silhouette-02.png") center center no-repeat; padding: 115px 60px; }
.testimonial .silhouette-03 { background: url("../assets/images/silhouette-03.png") center center no-repeat; padding: 115px 60px; }
.testimonial .quote { font: 30px/40px Sintony, 'Helvetica Neue', Helvetica, sans-serif; margin-bottom: 30px; color: #fff; } 
.testimonial .byline-name { font: 700 18px/24px Sintony, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #057; letter-spacing: .03em; text-transform: uppercase; margin-bottom: 4px;}
.testimonial .byline-description { color: #555; }


